.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

h1 {
  margin-bottom: 40px;
  color: #333;
  font-size: 2.5rem;
}

.component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #555;
  margin-bottom: 20px;
  font-size: 1.8rem;
}
